@import "mocha"
configuration {
    show-icons:                 true;
		location: 5;
}

/*
USE_BUTTONS=YES
*/
* {
	font: "GeistMono NF 10";
}

window {
  width:                       20%;
  margin:                      0px;
  padding:                     10px 10px;
  border:                      2px solid;
  border-color:		 						 @lavender;
  background-color:            @base;
  children: 			 		 				 [ "message", "listview" ];
}

message {
  padding:                     5px 0;
  margin:                      0 0 10px 0;
  background-color:            transparent;
  text-color:					         @lavender;
  font-weight:				 			   bold;
  border:						   				 0px 0px 1px solid;
  border-color:				 			   @lavender;
}

textbox {
  background-color:            inherit;
  text-color:                  inherit;
  horizontal-align:            0.5;
}

listview {
  enabled:                     true;
  columns:                     2;
  lines:                       2;
  layout:                      vertical;
	flow:												 horizontal;
  background-color:	 	 	  		 transparent;
}

element {
  padding:					 					 10px;
  border-color:                @lavender;
  background-color:            @base;
  text-color:                  @text;
  cursor:                      pointer;
	children:										 [ element-icon ];
}
element-icon {
    background-color:          @base;
    size:                      180px;
    margin: 			         		 0 10px 0 0;
}
element-icon.selected {
    background-color:          @crust;
}
element selected.normal {
	border: 					 					 1px solid;
  background-color:            @crust;
  text-color:                  @lavender;
}
