include "autostart.kdl"
include "input.kdl"
include "outputs.kdl"
include "keybinds.kdl"
include "windowrules.kdl"
include "layout.kdl"
include "overview.kdl"

prefer-no-csd

// You can also set this to null to disable saving screenshots to disk.
screenshot-path null
// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animations
// https://yalter.github.io/niri/Configuration:-Animations
